.navegacao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 600px;

  background-color: rgb(15, 32, 58);
  padding: 20px 0px;
}

nav a {
  font-family: "Oxanium", sans-serif;
  color: #e5e7eb;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: #54bbfe;
  transition: 0.3s;
}

.container {
  background-color: rgb(8 20 38);
  font-family: "Oxanium", sans-serif;
}

.conteudo-central {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 0%;
  color: #e5e7eb;
  font-size: 200px;
  text-align: center;
}

p.structDescription {
  color: rgb(248 248 241);
  font-size: 40px;
  text-align: center;
}

footer.structFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 20px 0px;
  color: #e5e7eb;
  background-color: rgb(15, 32, 58);
}

.chaves {
  color: #54bbfe;
}
